@{
    ViewData["Title"] = "Home Page";
}

<p></p>

<div class="btn-group" role="group" aria-label="Middle Align">
    <button type="button" class="btn btn-default" aria-label="Right Align" onclick="getData()">
        <i id="refreshButton" class="fa fa-refresh"></i> Refresh
    </button>

    <button type="button" class="btn btn-default" aria-label="Right Align" onclick="updateTraking()">
        <i id="updateButton" class="fa fa-refresh"></i> Update from Tracking
    </button>

    <button type="button" class="btn btn-default" aria-label="Right Align" onclick="updateImages()">
        <i id="imagesButton" class="fa fa-refresh"></i> Update Images and Metadata
    </button>

    <button type="button" class="btn btn-default" aria-label="Right Align" onclick="resetBlacklist()">
        <i id="blacklistReset" class="fa fa-refresh"></i> Reset Blacklist
    </button>

    <button type="button" class="btn btn-default" aria-label="Right Align" onclick="resetImages()">
        <i id="imagesReset" class="fa fa-refresh"></i> Reset Images
    </button>
</div>

<p></p>

<section class="watched" id="progress-wrapper">
    
</section>